{
    "env": {
        "browser": true,
        "es2020": true
    },
    "extends": [
        "airbnb",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "plugins": [
        "prettier"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 11,
        "sourceType": "module"
    },
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "all",
                "singleQuote": true
            }
        ],
        "settings": {
            "import/resolver": {
                "babel-module": {}
            }
        }
    }
}